<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="index.css" rel="stylesheet"><link>
	<title>Backbone</title>
</head>

<body>
	<button id="btn" class="button">Success</button>
	<button id="btn-size" class="button">Increase size</button>

	<div class="container">
		<div id="rockets">
			<h2>My Rocket</h2>
			<div id="rocket"></div>
		</div>
	</div>
</body>

<script src="libraries/jquery-3.6.0-min.js"></script>
<script src="libraries/underscore-1.12.0.js"></script>
<script src="libraries/backbone-1.4.0.js"></script>
<Script src="main.js"></Script>

<!-- Шаблон -->
<script type="text/template" id="rocketTpl">
	<hr />
	<p>From template</p>
	<p>Name: <%= name %></p>
	<p>Size: <%= size %></p>
	<p>Color: <%= color %></p>
	<% if (nice) { %>
		<p>Nice</p>
	<% } %>
</script>

</html>